<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CS_BackOffice" connectionString="XpoProvider=MSSqlServer;data source=IDPC4018\BACKOFFICE;integrated security=SSPI;initial catalog=BakcOffice" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>