<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackOffice_costos_e_importaciones.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CS_BackOffice" connectionString="XpoProvider=MSSqlServer;data source=IDPC4018\BACKOFFICE;integrated security=SSPI;initial catalog=BackOffice" />
        <add name="BackOffice_costos_e_importaciones.My.MySettings.CS_BackOffice"
            connectionString="Data Source=IDPC4018\BACKOFFICE;Initial Catalog=BackOffice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BackOffice_costos_e_importaciones.My.MySettings>
            <setting name="Directorio_información_de_archivos" serializeAs="String">
                <value>0</value>
            </setting>
        </BackOffice_costos_e_importaciones.My.MySettings>
    </userSettings>
</configuration>